* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 56px;
    margin-top: 5%;
}

h3 {
    color: #425B88;
    font-family: 'Roboto', sans-serif;
}

h2,
p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


#home {
    height: 100vh;
    background: #D3D3D3;
    background: url("../img/home-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(20, 21, 46, 0.72);
}

.navbar {
    background: #020312!important;
    color: #fff;
}

.nav-link {
    color: #fff!important;
}

.logo {
    position: absolute;
    z-index: 999999999999999999999999999999;
    width: 150px;
}

.fab,
.fas {
    color: #fff;
    /*border: 1px #fff solid;*/
}

.center-div {
    height: 60vh;
}

.image-border {
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}



.line {
    background: #fff;
    height: 1px;
    width: 80%;
    margin: auto;
}

#sections {
    height: 100vh;
    position: relative;
    width: 100%;
}

.my-sevices,
.about-me {
    height: 100vh;
    width: 100%;
    background: #020312;
}

.item {
    /* background: #fff; */
    width: 200px;
    /* height: 200px; */
    margin: auto;
    position: relative;
    transition: all .5s;
    overflow-x: hidden;
}

.spacer {
    height: 30vh

}

.icons {
    color: #EBC076;
    position: relative;
    z-index: 1;
}

.link {
    color: #fff;
    height: 20%;
    position: relative;
    left: -50%;
    transition: all .6s;
    overflow-x: hidden;
}

.link::after{
    content: '';
    position: absolute;
    width: 250%;
    height: 5px;
    background: #EBC076;
    top: 28%;
    left: 50%;
}

h1 {
    margin: auto;
}













