* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}


 

h1 {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 56px;
    margin-top: 5%;
}

h2 {
    font-family: 'Rubik', sans-serif;
    /* font-size: 56px; */
}

h3 {
    color: #425B88;
    font-family: 'Roboto', sans-serif;
}

h2,
p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

h4 {
    font-size: 1em;
}

#home {
    height: 100vh;
    background: #D3D3D3;
    background: url("../img/home-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(20, 21, 46, 0.72);
}

.navbar {
    background: #020312 !important;
    color: #fff;
}

.nav-link {
    color: #fff !important;
}

.logo {
    position: absolute;
    z-index: 999999999999999999999999999999;
    width: 150px;
}

.fab,
.fas {
    color: #fff;
    /*border: 1px #fff solid;*/
}

.center-div {
    height: 60vh;
}

.image-border {
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.line {
    background: #fff;
    height: 1px;
    width: 80%;
    margin: auto;
}

#sections {
    height: 100vh;
    position: relative;
    width: 100%;
    background: #020312;
}

.item {
    /* background: #fff; */
    width: 200px;
    /* height: 200px; */
    margin: auto;
    position: relative;
    transition: all .5s;
    overflow-x: hidden;
}

.spacer {
    height: 18vh
}

.icons {
    color: #EBC076;
    position: relative;
    z-index: 1;
}

.link {
    color: #fff;
    height: 20%;
    position: relative;
    left: -50%;
    transition: all .6s;
    overflow-x: hidden;
}

.link::after {
    content: '';
    position: absolute;
    width: 250%;
    height: 5px;
    background: #EBC076;
    top: 28%;
    left: 50%;
}

h1 {
    margin: auto;
}

/* About section styles */

.about-me {
    /* height: 60%; */
}

.about-content {
    
    /* height: 300px; */
    background: red;
    /* background: #020312; */
    background: center / contain no-repeat url('../img/home-background.jpg') ;
}


.about-txt {
    height: 100%;
    /* padding-left: 10%; */
}

.card {
    background: #020312;
}

.card-body>h3 {
    color: #EBC076;
    font-size: 1.5em;
}

/* ANIMATED BORDER CLASS */

.animated-border {
    width: 50%;
    padding: 1rem;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
}

.animated-border::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    transform: translateX(100%);
}
.animated-border::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 4px;
    width: 100%;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: translateX(-100%);
}

.animated-border:hover::before{
    border-color: #EBC076;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}
.animated-border:hover::after{
    border-color: #EBC076;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

